<div class="modal-header btn-default">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <span style="font-size: 16px"><b>Set Appointment</b></span>
</div>
<div class="modal-body">
<%= render 'form' %>
</div>

