<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  	<span style="color: #fff" aria-hidden="true">&times;</span>
  </button>
  <span style="font-size: 16px">Set Appointment</span>
</div>
<div class="modal-body">
<%= render 'form' %>
</div>

