<div>
	<%= image_tag "PISLOGO.png", class: "img-center img-responsive" %>
	<p class="img-center"><strong>P a t i e n t  &nbsp; &nbsp;&nbsp;I n f o r m a t i o n&nbsp;&nbsp;&nbsp;  S y s t e m</strong></p>
</div>
