 <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <li>
                    Search
                </li>
                <li>
                    <input type="text" class="btn">
                </li>
                <li>
                    <button class="btn">Go</button>
                </li>
                
            </ul>
        </div>